.container-center {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  padding: 1.25rem 1.75rem;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
