header {
  background: linear-gradient(
      90deg,
      rgba(126, 144, 254, 0.05) 0%,
      rgba(152, 115, 255, 0.05) 100%
    ),
    url("./assets/All Images/Vector-1.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 4.3rem 0;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-weight: 800;
    font-size: 32px;
    color: #1a1919;
  }

  .logo-gradient {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  a {
    font-weight: 500;
    color: #757575;
  }

  .menu-btn {
    display: none;
  }

  .active {
    background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

@media (max-width: 768px) {
  header {
    .nav-container {
      display: none;
    }

    .menu-btn {
      display: block;
      cursor: pointer;
    }

    .menu-icon {
      font-size: 2rem;
    }

    .open-menu {
      display: block;
      position: absolute;
      top: 6.5rem;
      right: 0.8rem;
      z-index: 99;
      background: linear-gradient(
        90deg,
        rgba(126, 143, 254, 0.7) 0%,
        rgba(152, 115, 255, 0.7) 100%
      );
      padding: 2rem;
      flex-direction: column;
      border-radius: 0.5rem;

      nav {
        margin-bottom: 2rem;
      }

      ul {
        flex-direction: column;
      }
      a {
        color: #ffffff;
      }
    }
  }
}
